* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
h1{
    color: #ff004f;
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
}
h3{
    color: #ff004f;
    font-size: 30px;
    text-align: left;
    margin-left: 200px;
    padding-top: 25px;
}
body{
    background-color: black;
    height: 100%;
}

.container{
    margin-top: 0px;
}

.paragraph{
    color: white;
    font-size: 20px;
    flex-basis: 60%;
    margin-top: 30px;
    text-align: justify;
    padding-left: 200px;
    padding-right: 200px;
    align-items: center;
}

.paragraph_use{
    color: white;
    font-size: 18px;
    flex-basis: 60%;
    margin-top: 30px;
    text-align: justify;
    padding-left: 200px;
    padding-right: 200px;
    align-items: center;
}